.container {
  /* Батьківський контейнер має бути достатньо широким, щоб вмістити всі чотири блоки */
  overflow: hidden; /* Забезпечуємо, щоб контейнер обгортав всі плаваючі блоки */
  width: 1300px;
  height: 900px;
}

.block {
  width: 200px; /* Встановіть ширину кожного блоку */
  height: 100px; /* Встановіть висоту кожного блоку */
  margin: 10px; /* Додайте відступи для візуального розділення блоків */
  background-color: #ddd; /* Колір фону для кращої видимості блоків */
  border: 2px solid #333; /* Рамка блоків */
}

.left {
  float: left; /* Це змусить блоки обтікати зліва */
}

.right {
  float: right; /* Це змусить блоки обтікати справа */
}