.container {
  /* Батьківський контейнер має бути достатньо широким, щоб вмістити всі чотири блоки */
  overflow: hidden; /* Забезпечуємо, щоб контейнер обгортав всі плаваючі блоки */
  width: 600px;
  height: 600px;
}

.block {
  width: 200px; /* Встановіть ширину кожного блоку */
  height: 200px; /* Встановіть висоту кожного блоку */
  margin: 10px; /* Додайте відступи для візуального розділення блоків */
  background-color: #6d6b6d; /* Колір фону для кращої видимості блоків */
  border: 3px solid #3d3e3d; /* Рамка блоків */
  color: #1b1d16; /* Колір тексту */
  text-align: center;
}

.left {
  float: left; /* Це змусить блоки обтікати зліва */
}

.right {
  float: right; /* Це змусить блоки обтікати справа */
}