:root {
  --grid-height: 200px;
}

.container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: var(--grid-height);
  justify-content: space-between;
  align-items: center;
  float: right;
}

.first {
  width: 200px;
  height: calc((var(--grid-height) / 2) - 5px);
  border: 2px solid #bebebe;
}

.second {
  width: 200px;
  height: var(--grid-height);
  border: 2px solid #bebebe;
  order: -1;
}

.third {
  width: 200px;
  height: calc((var(--grid-height) / 2) - 5px);
  border: 2px solid #bebebe;
}